.btn {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  
  .btn-icon{
    width: 20px;

    &.btn-icon-right,
    &.btn-icon-left{
      display: inline-block;
    }
  }
}